<%- include ../partials/header.ejs %> 
<%- include ../partials/scripts.ejs %>
<body>
	<div id="wrapper">
	<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0"><%- include ../partials/header-nav.ejs	%> <%- include ../partials/side-nav.ejs %></nav>
		<div id="page-wrapper">All alerts here</div></div>
</body>