<%- include ../partials/header.ejs %>
<link href="dist/css/login.css" rel="stylesheet">
	<script src='https://www.google.com/recaptcha/api.js'></script>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-title">
						<p class="panel-title-p">
							 Graftel Heat Exchange System Demo
						</p>
					</div>
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="/login" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="/login" method="post" role="form"
									style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1"
											class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password"
											tabindex="2" class="form-control" placeholder="Password">
									</div>
									<% if(showCaptcha) { %> 
										<div class="g-recaptcha col-sm-offset-1" data-sitekey="6LdeZCoUAAAAADjwl0wXReyFCdAzdmTgZgsE9Zok"></div><br>
									<% } %>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit"
													tabindex="4" class="form-control btn btn-login"
													value="Log In">
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action="/register" method="post"
									role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1"
											class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password"
											tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password"
											id="confirm-password" tabindex="3" class="form-control"
											placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit"
													id="register-submit" tabindex="4"
													class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
								<div class="col-md-9 col-md-offset-2" >
									<a href="/forgotusername"> Forgot username? </a>/<a href="/forgotpassword"> Forgot password? </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="alert">
		<% if(typeof message !== 'undefined') { %> <div class="alert alert-danger"> <%= message %>  </div> <% }%>
	</div>
	<%- include ../partials/scripts.ejs %>
  	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
	<script>
		$(function() {

			$('#login-form-link').click(function(e) {
				$("#login-form").delay(100).fadeIn(100);
				$("#register-form").fadeOut(100);
				$('#register-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});
			$('#register-form-link').click(function(e) {
				$("#register-form").delay(100).fadeIn(100);
				$("#login-form").fadeOut(100);
				$('#login-form-link').removeClass('active');
				$(this).addClass('active');
				e.preventDefault();
			});

			$('#register-form')
					.submit(
							function(e) {
								console.log("here in ref");
								var username = $("#register-form input#username").val();
								var password = $("#register-form input#password").val();
								var confirmPassword = $("#register-form input#confirm-password").val();

								var res = true;
								
								$("#alert").html('<div class="alert alert-danger">');			
								if (username == '' || password == '' || confirmPassword == '') {
									$(".alert").append('Any of the fields cannot be empty.<br>');
									res = false;
								}
								if (password != confirmPassword) {
									$(".alert").append('Password fields do not match.<br>');
									res = false;
								}
								if (username.length < 5 || password.length < 8) {
									$(".alert").append('Username needs to be atleast of 5 characters.<br>Password needs to be atleast of 8 characters.<br>');
									res = false;
								}
								return res;
							});
			
			$('#login-form').submit(function(e) {
								var res = true;
								var username = $("#login-form input#username").val();
								var password = $("#login-form input#password").val();
								var recaptcha = $("#login-form .g-recaptcha-response").val();
								
								$("#alert").html('<div class="alert alert-danger">');							
								
								if (username == '' || password == ''){
									$(".alert").append('Any of the fields cannot be empty.<br>');
									res = false;
								}
								else if (username.length < 5 || password.length < 8){
									$(".alert").append('Username or Password too short.<br>');
									res = false;
								}
								if(typeof(recaptcha) != 'undefined' && recaptcha == ""){
  									$(".alert").append('Captcha should be selected.');
									res = false;
  								}								
							    return res;
							});
		});	
	</script>
</body>
