<html>
	 <%- include ../partials/header.ejs %>
	 <%- include ../partials/scripts.ejs %>
	<body>
	<div id="wrapper">
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation"
				style="margin-bottom: 0"><%- include ../partials/header-nav.ejs
				%> <%- include ../partials/side-nav.ejs %></nav>
			<div id="page-wrapper">
				<h3 style="margin:0; padding: 5%;"> All settings here ! </h3>
			</div>
		</div>
	</body>
</html>
