
<h2 class="chart-heading"><%= JSON.stringify(mainParameter).replace(/"/g, "") %></h2>
<div style='position: relative;'>
<div class="row col-md-8 svg-container" id="dashboard-line-chart-div"> </div>

<style>
.xaxis text, .yaxis text {
	color: black;
	font-size: 150%;
}

path.line {
	width: 600px;
	height: 351px;
	overflow: hidden;
}

.sideLegend text {
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}


</style>

<script>
	var data = <%- JSON.stringify(data) %>;
	var assets = <%- JSON.stringify(assets) %>;
	var mainParameter = <%- JSON.stringify(mainParameter) %>;
	var domain = getDomainForDashboardGraph(data,mainParameter);
	drawLineGraph(d3.select("#dashboard-line-chart-div"), data, assets, domain,
			mainParameter);
</script>
