
<div class="col-md-2">
	<div class="panel panel-green">
		<div class="panel-heading">
			<div class="row">
				<div class="shadow text-center">
					<div class="huge"><%= Object.keys(assets).length %></div>
					<div class="message-board-text">Assets</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-2">
	<div class="panel panel-yellow">
		<div class="panel-heading">
			<div class="row">
				<div class="shadow text-center">
					<div class="huge"><%= warnings %></div>
					<div class="message-board-text">Warnings</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-2">
	<div class="panel panel-red">
		<div class="panel-heading">
			<div class="row">
				<div class="shadow text-center">
					<div class="huge"><%= alerts %></div>
					<div class="message-board-text">Alerts</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-2">
	<div class="panel panel-blue">
		<div class="panel-heading">
			<div class="row">
				<div class="shadow text-center">
					<div class="huge"><%= predictions %></div>
					<div class="message-board-text">Predictions</div>
				</div>
			</div>
		</div>
	</div>
</div>
