
<div class="col-lg-2">
	<div class="panel panel-green">
		<div class="panel-heading">
			<div class="row">
				<div class="shadow text-center">
					<div class="huge"><%= Object.keys(assets).length %></div>
					<h4>Assets</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-2">
	<div class="panel panel-yellow">
		<div class="panel-heading">
			<div class="row">
				<div class="shadow text-center">
					<div class="huge"><%= warnings %></div>
					<h4>Warnings</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-2">
	<div class="panel panel-red">
		<div class="panel-heading">
			<div class="row">
				<div class="shadow text-center">
					<div class="huge"><%= alerts %></div>
					<h4>Alerts</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-2">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
				<div class="shadow text-center">
					<div class="huge"><%= predictions %></div>
					<h4>Predictions</h4>
				</div>
			</div>
		</div>
	</div>
</div>

