<a href="/">
	<div class="navbar-header" id="navbar-header-img">
		<img src="images/logo.png" margin-right="5px" alt="GRAFTEL LLC" style="height: 100%; width 100%; object-fit: contain">
	</div>
</a>

<div class="navbar-header" id="navbar-header-title">
	Dynamic Heat Exchanger Monitering System
</div>
<!-- /.navbar-header -->
<div class="navbar-header" id="navbar-header-user">
	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown"><a class="dropdown-toggle"
			data-toggle="dropdown" href="#"> Welcome <i
				class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
		</a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="/settings"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
				<li class="divider"></li>
				<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>
						Logout</a></li>
			</ul> <!-- /.dropdown-user --></li>
		<!-- /.dropdown -->
	</ul>
</div>

<!-- /.navbar-top-links -->
