<link href="dist/css/sensor-map.css" rel="stylesheet">

<div id="sensorDetails" class="row">
	<div class="col-md-8">
		<ul class="nav nav-pills">
			<li class="nav-item active"><a class="nav-link"
				data-toggle="pill" href="#details">Table</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="pill"
				href="#plot">Plot</a></li>
		</ul>

		<div class="tab-content">
			<div class="table-responsive tab-pane active" id="details" style="padding-top: 3%;">
				<a href="#" id="downloadAsCSV" style="float:right;" title="Download CSV"><i class="glyphicon glyphicon-download-alt"></i> Download CSV</a>
				<table class="table"></table>
				<em><p class="small" id="date-range" style="padding-left:10px; color: #808080"></p></em>
			</div>
			<div id="plot" class="tab-pane" style="position: relative;">
			<div width="700" height="800" id="assetPlotDiv">
				<svg id="calculationsChart"></svg>
			</div>
				
			</div>
		</div>
	</div>
	<h4 class="text-center bold" id="radar-chart-heading"><strong>  </strong></h4>
	<div id="sensor-chart" class="col-md-4" style="padding-top: 2%;"></div>
</div>