<link href="dist/css/sensor-map.css" rel="stylesheet">

<div id="sensorDetails" class="row">
	<div class="col-md-8">
		<ul class="nav nav-pills">
			<li class="nav-item active"><a class="nav-link"
				data-toggle="pill" href="#details">Table</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="pill"
				href="#plot">Plot</a></li>
		</ul>

		<div class="tab-content">
			<div class="table-responsive tab-pane active" id="details">
				<table class="table"></table>
			</div>
			<div id="plot" class="tab-pane" style="position: relative;">
			<div width="700" height="800" id="assetPlotDiv">
				<svg id="calculationsChart"></svg>
			</div>
				<button type="button" id="zoom-reset" class="btn btn-primary zoom-reset-asset">Reset</button>
			</div>
		</div>
	</div>
	<div id="sensor-chart" class="col-md-4" style="padding-top: 3%;"></div>
</div>